.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;           
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;   
}


.header {
  text-align: center;          
  margin-top: 0;
  margin-bottom: 20px;         
  font-size: 2rem;             
  color: #333;                 
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;         
  flex: 1;                     
  gap: 20px;                   
}


.locationContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;               
  margin: 10px;
  width: 220px;                
  text-align: center;
  background-color: #fff;      
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  transition: transform 0.3s ease;  
}

.locationContainer:hover {
  transform: translateY(-5px); 
}


.cold {
  background-color: #0c30d1;  
  color: #333;                
}
.cool {
  background-color: #a6c6f9;  
  color: #333;                
}
.mild {
  background-color: #ffc107;  
  color: #333;                
}
.warm {
  background-color: #fd7e14;  
  color: #333;                
}
.hot {
  background-color: #dc3545;  
  color: #333;                
}


.text-center {
  text-align: center;
}


.weatherDetails p {
  margin: 5px 0;  
  font-size: 0.9rem;  
}
