.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.card {
  border-radius: 10px;
}

.shadow-lg {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.bg-darkblue {
  background-color: #001f3f;
}

.bg-lightblue {
  background-color: #007bff;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-orange {
  background-color: #fd7e14;
}

.bg-red {
  background-color: #dc3545;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;         
  flex: 1;                     
  gap: 20px;                   
}


.locationContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;               
  margin: 10px;
  width: 220px;                
  text-align: center;
  background-color: #fff;      
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  transition: transform 0.3s ease; 
  max-height: 20vw; 
}

.locationContainer:hover {
  transform: translateY(-5px); 
}


.cold {
  background-color: #0c30d1; /* Blau */
}

.cool {
  background-color: #a6c6f9; /* Hellblau */
}

.mild {
  background-color: #07ff6a; /* Grün */
}

.warm {
  background-color: #fd7e14; /* Orange */
}

.hot {
  background-color: #dc3545; /* Rot */
}


.text-center {
  text-align: center;
}


.weatherDetails p {
  margin: 5px 0;  
  font-size: 0.9rem;  
}

.badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
