.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;                    /*ensures that the height of the container is at least the height of the viewport */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;                   /*centers headline*/
  margin-top: 0;
  margin-bottom: 20px;                  /*distance to the next section */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;                  /*distance to the foot area*/
  flex: 1;                              /*flex area for the rest of the page*/
}

.locationContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.cold {
  background-color: #00f;             /*blue cold weather*/
}
.cool {
  background-color: #0ff;             /*light blue fresh weather*/
}
.mild {
  background-color: rgb(236, 253, 0); /*green mild weather*/
}
.warm {
  background-color: rgb(255, 187, 0); /*yellow warm weather*/
}
.hot {
  background-color: #f00;             /*red hot weather*/
}

.text-center {
  text-align: center;
}